body{
    font-family: 'Roboto Slab', serif;
    margin: 0 0;
    font-size: 15px;
  }
  
  *,
  *:before,
  *:after{
    box-sizing: border-box;
   }


   .back_to_top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    background: rgb(243, 130, 130);
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    font-size: 30px;
    font-weight: bold;
  }
  
  .back_to_top:hover {
    background: #c92b2b;
  }
  
  .back_to_top-show {
    display: block;
  }
  
  
  .level_1{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 0;
    background: url(kitaj.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    margin-bottom: 2%;
}

  .country_title{
    font-family: 'Bree', serif;
    color: rgb(202, 33, 33);
  
    text-shadow: 1px 1px rgb(202, 33, 33),
                 2px 2px black;
    font-size:12.5vw;
  }

  
  
  .text_1{
    background-color: rgb(173, 162, 162);
    padding: 1%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    text-align: center;
    width: 35%;
    margin: 5% auto; 
    font-size:1.2vw;
    color: rgb(202, 33, 33);
    opacity: 0.9;
    border-radius: 20px;
  }
  

  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    margin: 0;
    font-size:2.1vw;
  
  }
  .text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size:1.5vw; 
    text-align: justify;
  
  }
    
  
       .inner2_head{
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
  
  .container1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:rgb(173, 162, 162);
        color:white;
        width: 100%;
        height: auto;
  
        }

  .container__inner_image1{
        display: flex;
        margin: auto 0 auto 7%;
        width: 50%;
        height: 600px;
        }
  

  .container__inner_text1{
        padding: 3% 3% 6% 3%;
        display: flex;
        flex-direction: column;
        margin: auto 7% auto auto;
  
        width: 50%;
        height: auto;
        }
  
  .container__inner_text2{
        padding: 3% 3% 6% 3%;
        display: flex;
        flex-direction: column;
        margin: auto 0 auto 7%;
  
        width: 50%;
        height: auto;
        }
  
  .container__inner_image2{
        display: flex;
        margin: auto 7% auto 0;
        width: 50%;
        height: 600px;
        }
  
 
  
 